

.cj-banner{
	min-width: 1230px;
	font-size: 0;
}

.cj-con{
	min-width: 1230px;
	background: url(http://cdn.fuzeuser.com/fuzemall/activity/cj/con-bg.png) no-repeat scroll center 0 #173a64;
	text-align: center;
}

/*礼物*/
.cj-gift{
	overflow: hidden;
}
.cj-gift-title,
.cj-girl-title{
	margin-top: 120px;
}
.cj-gift-con,
.cj-girl-con,
.cj-game-con{
	margin: 0 auto;
	margin-top: 40px;
	width: 1230px;
}

/*showgirl*/
.cj-girl-list li{
	display: inline-block;
	margin: 0 35px;
	margin-bottom: 60px;
	padding: 8px;
	width: 214px;
	height: 214px;
	border: 8px solid #0bbde2;
	background-color: #fff;
	font-size: 0;
	border-radius: 9999px;
}
.cj-girl-list li.ml5{margin-left: 5px;}
.cj-girl-list li.mr5{margin-right: 5px;}
.cj-girl-list li:hover img{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.cj-girl-list li img{
	width: 100%;
	border-radius: 9999px;
	-webkit-transition : all .5s ease;
	-moz-transition : all .5s ease;
	-ms-transition : all .5s ease;
	-o-transition : all .5s ease;
	transition : all .5s ease;
}

/*游戏*/
.cj-game-con{
	width: 100%;
}
.cj-game-new{
	padding-bottom: 90px;
	background: url(http://cdn.fuzeuser.com/fuzemall/activity/cj/cj-game-bg.png) no-repeat scroll center bottom #173a64;
}
.cj-game-new .cj-game-list a{
	cursor: default;
}
.cj-game-title{
	margin-top: 60px;
}
.cj-game-list{
	margin: 0 auto;
	width: 1230px;
}
.cj-game-list li{
	float: left;
	margin-right: 30px;
	width: 285px;
	text-align: left;
	text-align: center;
}
.cj-game-list li.mrNone{
	margin-right: 0;
}
.cj-game-pic{
	width: 285px;
	height: 380px;
	background-color: #fff;
}
.cj-game-name{
	margin-top: 10px;
	height: 65px;
	color: #fff;
	font-size: 18px;
}
.cj-game-name.newline{
	padding: 0 40px;
}

/*互动*/
.cj-interact{
	padding-bottom: 110px;
	min-width: 1230px;
	text-align: center;
	background: url(http://cdn.fuzeuser.com/fuzemall/activity/cj/interact-bg.png) no-repeat scroll center 0 #fff;
	overflow: hidden;
}
.cj-interact-title{
	margin-top: 140px;
}
.cj-interact-con{
	margin: 0 auto;
	width: 836px;
}
.cj-interact-list{
	margin-top: 80px;
}
.cj-interact-list li{
	height: 110px;
	line-height: 110px;
	margin-bottom: 10px;
	font-size: 30px;
}
.cj-interact-list .cj-interact-list-tips{
	float: left;
	width: 300px;
	height: 110px;
	background: url(http://cdn.fuzeuser.com/fuzemall/activity/cj/cj-interact-bg.png) no-repeat scroll 0 0;
	color: #fff;
	font-weight: 100;
}
.cj-interact-list .cj-interact-list-con{
	margin-left: 360px;
	color: #0bbde2;
	text-align: left;
	font-size: 24px;
	font-weight: 100;
}