.cereateOrder_box {
	padding:2px 25px 0 25px;
	width: 1180px;
	min-width: 1110px;
}
.mall_table, .mall_tabdl {
	display: block;
	overflow: hidden;
	width: 100%;
	padding-bottom: 20px;
}
.mall_tabdl dt {
	width: 100%;
}
.cart-head{
	line-height: 45px;
	font-size: 18px;
	color: #45667e;
}
.cart-head a{
	float: right;
	font-size: 12px;
	color: #1ab4c2;
}
.tab_title {
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	background: #f0f1f3;
}
.tab_title div {
	float: left;
	width: 20%;
	text-align: center;
}
.orderTitle div {
	color: #29485f;
}
.tab_title .tab_name {
	width: 40%;
	text-align: left;
	text-indent: 100px;
}
.tab_con {
	display: block;
	height: 108px;
	border-bottom: 1px solid #e6e6e6;
}
.tab_con div {
	float: left;
	display: inline-block;
	width: 20%;
	text-align: center;
	vertical-align: middle;
}
.tab_con .lh108{
	line-height: 108px;
}
.tab_con .tab_price{
	color: #a6a7a8;
}
.tab_con .tab_number{
	color: #29485f;
}
.tab_con .fontGreen{
	color: #1ab4c2;
}
.tab_con .tab_count{
	color: #ff8400;
}

.tab_con .tab_picname {
	float: left;
	margin-top: 20px;
	width: 40%;
	text-align: left;
	overflow: hidden;
}
.tab_picname img {
	padding: 4px;
	width: 58px;
	height: 58px;
	float: left;
	margin: 0 13px 0 20px;
	border: 1px solid #e6e6e6;
}
.tab_picname p {
	display: block;
	margin:15px 0 7px 0;
	font-size: 12px;
	color: #5e839e;
}
.tab_picname span {
	display: inline-block;
	margin-right: 16px;
	color: #a6a7a8;
}
.tab_addmoney {
	text-align: right;
	display: block;
	padding: 10px 0 30px 0;
	overflow: hidden;
}
.tab_addmoney p {
	font-size: 12px;
	color: #29485f;
	padding: 5px 0;
}
.tab_addmoney p span {
	display: inline-block;
	color: #ff8400;
	font-size: 18px;
	min-width: 75px;
	text-align: left;
	margin-left: 10px;
}
.tab_trueaddress {
	display: block;
	overflow: hidden;
}
.address_list {
	float: left;
	width: 235px;
	height: 147px;
	padding: 6px 17px;
	overflow: hidden;
	display: block;
	background: url(../img/false_addrs.png) no-repeat;
	position: relative;
	margin-right: 11px;
	cursor: pointer;
}
.address_list.active {
	background: url(../img/true_addrs.png) no-repeat;
}
.addresslist_tit {
	font-size: 14px;
	color: #29485f;
	border-bottom: 1px solid #dedede;
	padding: 10px 0;
	margin-bottom: 10px;
}
.addresslist_tit span {
	display: inline-block;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* overflow: hidden; */
    max-width: 145px;
    overflow: hidden;
    vertical-align: sub;
}
.addresslist_p {
	font-size: 12px;
	color: #5e839e;
	line-height: 20px;
}
.setaddress_p {
	position: absolute;
	left: 16px;
	bottom: 22px;
}
.setaddress_p span {
	display: inline-block;
	margin-right: 20px;
}
.setaddress_p .edit:hover {
	color: #29485f;
}
.sum_total {
	display: block;
	text-align: right;
	font-size: 12px;
	color: #29485f;
	line-height: 32px;
	margin-top: 20px;
}
.sum_total label {
	display: inline-block;
	margin-left: 50px;
}
.sum_total label select {
	padding: 0 15px;
}
.sum_total label span {
	font-size: 18px;
	color: #ff8400;
}
.sum_cart {
	margin-bottom: 20px;
	overflow: hidden;
	text-align: right;
}
.sum_cart a {
	margin-left: 42px;
}
.goto_cart {
	color: #1ab4c2;
	font-size: 12px;
}
.goto_cart img{
	position: relative;
	top:1px;
	margin-right: 5px;
}
.sum_cart label {
	display: inline-block;
	margin-right: 20px;
	color: #29485f;
	font-size: 14px;
}
.sum_cart label span {
	font-size: 24px;
	color: #ff8400;
}
.sum_cart label font {
	font-size: 18px;
	color: #ff8400;
}

/*update*/
.cart-address-list{
	height: auto;
	max-height: 200px;
	overflow-y: auto;
}
.cart-address-list li{
	display: none;
	margin-bottom: 10px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}
.cart-address-list li.show{
	display: block;
}
.cart-address-list li:hover{
	background-color: #d1f0f3;
}
.cart-address-list li:hover .cart-address-operation{
	display: inline-block;
}
.cart-address-list li span{
	float: left;
}
.cart-address-tit{
	width: 186px;
	height: 36px;
	line-height: 36px;
	border: 2px solid #f0f1f3;
	background-color: #fff;
	text-align: center;
	color : #455464;
	cursor: pointer;
}
.cart-address-tit:hover{
	border-color: #1ab4c2;
	background-color: #fff;
}
.cart-address-tit.active{
	border-color: #1ab4c2;
	background:url(../img/cart-address-on.png) scroll no-repeat right bottom #fff;
}
.cart-address-detail{
	height:40px;
	max-width: 780px;
	color: #455464;
	overflow-x: auto;
}
.cart-address-detail .cad-name{
	margin-left: 20px;
	margin-right: 15px;
}
.cart-address-detail .cad-tel{
	margin-left: 15px;
}
.cart-address-list li .cart-address-operation{
	display: none;
	float: right;
	margin-right: 15px;
	color: #1ab4c2;
	cursor: pointer;
}
.cart-address-del{
	width: 30px;
	height: 40px;
	background: url(../img/cart-del.png) scroll no-repeat center center;
}

.cart-address-operation.hidden,
.cart-address-default.hidden{
	display: none !important;
}
.cart-address-default{
	margin-left: 15px;
	color:#a6a7a8;
}
.cart-address-more a{
	display: inline-block;
	margin-bottom: 10px;
	font-size: 12px;
	color: #29485f;
}

.order-save{
	margin-top: 20px;
	text-align: center;
}
.order-save span{
	color: #a6a7a8;
    font-size: 12px;
    clear: both;
    display: block;
    margin-top: 15px;
}
.cart-bill-detail{
	float: right;
	margin-right: 10px;
	font-size: 12px;
	color: #a6a7a8;
}
.bill-error{
	font-size: 12px;
	color: red;
}

.cart-sum-detail{
	display: inline-block;
	padding:10px 15px;
	background-color: #fff9eb;
	width: 500px;
}
.cart-sum-head{
	margin-right: 10px;
	font-size: 14px;
	font-weight: 600;
	color: #455464;
}
.cart-sum-val{
	color: #455464;
	font-size:14px;
}
.cart-sum-tit{
	line-height:24px;
	margin-bottom: 10px;
}
.cart-sum-tit.mbNone{
	margin-bottom: 0;
}
.cart-sum-val.orange{
	color: #ff8400;
}
.cart-sum-val font{
	font-size: 12px;
}
.cart-sum-val font.fs-20{
	margin-left: 2px;
	font-size: 20px;
}
.cart-btn-box{
	margin-top: 20px;
	margin-bottom: 20px;
}

