#container{
	background-color: #0e0e0e;
}
#pagebox{
	background-color: rgb(14, 14, 14);

	transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1);
}

#pagebox.top{
    transform: translate3d(0px, 80px, 0px);
    -webkit-transform: translate3d(0px, 80px, 0px);
}

#pagebox.bottom{
    transform: translate3d(0px, -400px, 0px);
    -webkit-transform: translate3d(0px, -400px, 0px);
}

.section img{
    -webkit-transition: all 1.5s linear;
    transition: all 1.5s linear;
    position: relative;
}
@font-face {
  font-family: 'lantinghei';
  src: url(font_face/newfont.TTF);
  src: url(font_face/newfont.TTF) format('truetype');
  font-weight: normal;
  font-style: normal;
}
.sc_text{	
    position: absolute;
	left: 50%;
	top: 17.449%;
	z-index: 22;
}
.sc0_w{
	width: 600px;
	margin-left: -300px;	
}

.sc1_w{
	width: 680px;
	margin-left: -340px;
}

.sc2_w{
	width: 680px;	
	margin-left: -340px;
}

.sc3_w{
	width: 740px;
	margin-left: -370px;
}



.fuze_full {
	vertical-align: top;
	padding-top: 0px;
	position: relative;
	height: 100%;
	overflow: hidden;
	min-width: 1230px;
	margin: auto;
	-moz-box-sizing:border-box;
}
.section_tit {
	color: #fff;
	font-size: 45px;
}
.sect0_pic img {
	height: 44.39%;
}
.section_tit2 {
	font-size: 18px;
	color: #b3b3b3;
	line-height: 30px;
	padding-top: 20px;
	margin: 0 auto;
}
.hans_sect2 {
	width: 720px;
	font-size: 0.095rem;
	color: #b3b3b3;
	padding-top: 30px;
}
.section_tit, .section_tit2, .hans_sect2 {
	display: block;
	text-align: center;
	letter-spacing: 0.9px;
	font-family: 'lantinghei';
}
.design_posit {
	width:100%;
	height:100%;
	text-align:center;
	position:absolute;
	left:0;
	bottom:0;

}
/*.design_posit video,.design_posit img{
	position: relative;
	bottom: -50%;
}*/
.sect1_box img {
	height:67.96%;
	bottom: -48%;
}
.sect2_box {
	width: 61.3%;
	height: 48.36%;
	left: 50%;
	bottom: 6%;
	margin:0 0 0 -30.1%;
}
.sect2_box img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.sect2_2img {
	z-index: 2;
}
.sect2_3img, .sect2_1img {
	opacity: 0;
}
.sect2_3img {
	z-index: 4;
	
}
.active .sect2_box .sect2_3img, .active .sect2_box .sect2_1img {
	animation:lighting_one 6s ease-in-out infinite;
	-webkit-animation:lighting_one 6s ease-in-out infinite;
	animation-delay:2s;
	-webkit-animation-delay:2s;
	transition-delay: 2s;
	-webkit-transition-delay: 2s;
}
@keyframes lighting_one {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
}
@-webkit-keyframes lighting_one {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
}
.sect3_box img {
	height:38.061%;  
}
#section3 .design_posit.sect3_gif img {
	height:38.061%;
	bottom:53%;
}
.hansc0_w, .hansc1_w {
	width: 765px;
    position: absolute;
    left: 50%;
    margin-left: -390px;
    top: 14.449%;
}
.hansc1_w {
	top: 15.91%;
}
.buynow_btn {
	font-size: 14px;
	color: #fff;
	width: 106px;
	line-height: 38px;
	display: block;
	border-radius: 50px;
	margin: 40px auto 0 auto;
	text-align: center;
	text-decoration: none;
	border: 1px solid #20b8c5;
	position: relative;
	z-index: 999;
}
.hansc1_w .section_tit2 {
	width: 100%;
}
.hansct3_img img {
	height: 63.36%;
	bottom: -40%;
}
.hansc2_w {
	width: 800px;
}
.hansct2_img img {
	height: 52.24%;
	bottom: -40%;
}
.hansct4_img img {
	height: 51.42%;
}
.hansct4_pic {
	display: block;
	text-align: center;
	margin-top: 50px;
}
.hansct2_img .hansct2_img2 {
	display: block;
	position: absolute;
	left: 50%;
}
.section1_tit {
	font-size: 0.25rem;
	display: block;
    text-align: center;
    letter-spacing: 0.9px;
    color: #fff;
}


.design_from {
	transition:all 1.5s ease-out;
	-webkit-transition:all 1.5s ease-out;
	/*transform:translate3d(0,-30px,0);
	-webkit-transform:translate3d(0,-30px,0);*/
}
.active .design_from {
	-webkit-transition-delay: 1s;
	transition-delay: 1s;
	/*transform:translate3d(0,0,0);
	-webkit-transform:translate3d(0,0,0);*/
	bottom: -32%;
}
.sect0_img img{
	bottom: -34%;
	height: 62.38%;
	display: block;
	margin: auto;
}
#section2 .design_posit video{
	bottom: -50%;
	position: relative;
}

#section3 .design_posit img{
	bottom: -50%;
	transform:scaleX(0.9);  
}

#section3.active .design_posit img{
	transition-duration: .5s;
	transform:scaleX(1);  
}

@media only screen and (max-width:1680px) {
	.sc0_w, .sc2_w, .sc1_w, .sc3_w, .hansc0_w, .hansc1_w {
		top: 19.449%;
	}
	.sect0_pic img {
		height: 39.39%;
	}
	.section_tit2 {
		width: 680px;
		font-size: 16px;
	}
	.sect3_box img {
		height: 33.061%;
		bottom: -55%;
	}
	.section1_tit {
		font-size: 0.2rem;
	}
	.hansc0_w {
		width: 630px;
		margin-left: -315px;
	}
	.hansct3_img img {
		height: 58.36%;
    	bottom: -48%;
	}
	.hansct2_img img {
		    height: 47.24%;
    		bottom: -48%
	}
	.hansct4_img img {
		height: 46.42%;
		bottom: -55%;
	}
	.hansct4_pic {
		margin-top: 20px;
	}
	#section0.active .design_posit img {
		bottom: -25%;
	}
	.sect2_box {
		bottom: 2%;
	}
	.section_tit {
		font-size: 36px;
	}

}