
/*joinIn top*/ 
.joinIn-top{
	min-width: 1230px;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
}
.joinIn-top-img{
	margin-top: 50px;
	margin-bottom: 40px;
}
.joinIn-top p{
	color: #333;
}
.joinIn-top p.joinIn-top-txt-top{
	font-size: 16px;
}
.joinIn-top p.joinIn-top-txt-bot{
	margin-top: 15px;
	margin-bottom: 50px;
	line-height: 24px;
	font-size: 14px;
}

/*joinIn bot*/
.joinIn-bot{
	margin: 0 auto;
	width: 1230px;
	text-align: center;
	overflow: hidden;
}
.joinIn-bot-title{
	margin-top: 55px;
	font-size: 22px;
	font-weight: 100;
	color: #231f20;
	text-align: left;
}
.joinIn-bot-list{
	margin-top: 20px;
}
.joinIn-bot-list li{
	float: left;
	display: inline-block;
	margin-right: 10px;
	width: 300px;
	height: 284px;
	background-color: #fff;
}
.joinIn-bot-list li.mrNo{
	margin-right: 0;
}
.joinIn-bot-icon{
	margin: 34px auto 30px auto;
	width: 80px;
	height: 80px;
	background: url(../img/fuze/joinIn-2.png) no-repeat scroll center center;
}
.joinIn-bot-icon-1{ background-position: 0 0; }
.joinIn-bot-icon-2{ background-position: -90px 0; }
.joinIn-bot-icon-3{ background-position: -180px 0; }
.joinIn-bot-icon-4{ background-position: -270px 0; }

.joinIn-bot-li-title{
	font-size: 20px;
	font-weight: 100;
	color: #333;
}
.joinIn-bot-li-txt{
	margin-top: 15px;
	padding: 0 30px;
	line-height: 22px;
	font-size: 12px;
	color: #777777;
}

.joinIn-btn{
	margin: 20px auto 40px auto;
	padding: 0 30px 0 18px;
	line-height: 54px;
	font-size: 20px;
	font-weight: 100;
	border-radius: 4px;
	background: url(../img/fuze/joinIn-3.png) no-repeat scroll 165px center #20b8c5;
}