.releace_top {
	background: #000;
}
.rele_pic, .rele_move, .rele_btn {
	text-align: center;
	overflow: hidden;
	padding:77px 0 0 0;
}
.rele_move {
	display: block;
	margin: 0 auto 0 auto;
	margin-top: -129px;
	width: 672px;
	background: #1a1a1b;
	padding: 10px 10px 0 10px;
}
.rele_move label {
	float: left;
	width: 417px;
}
.rele_move label img {
	padding-bottom: 10px;
	display: inline-block;
	float: left;
}
.rele_move_r {
	float: right;
}
.rele_btn {
	position: relative;
	padding-top: 78px;
}
.rele_btn a {
	width: 274px;
	line-height: 54px;
	display: inline-block;
	text-align: center;
	border: 1px solid #48b6bb;
	color: #48b6bb;
	font-size: 1.8rem;
}
.rele_btn span {
	display: block;
	text-align: center;
	padding: 30px 0 50px 0;
	animation:arrow 1.5s infinite;
	-webkit-animation:arrow 1.5s infinite;
}
@keyframes arrow {
	0%{
		 -webkit-transform: translateY(0);
		 transform: translateY(0);
	}
	100% {
		transform: translateY(30%);
		-webkit-transform: translateY(30%);
	}
}
.relea_mapbox {
	display: block;
	text-align: center;
	color: #fff;
	position: relative;
}
.relea_mapbox p {
	font-size: 60px;
	padding-top: 89px;
	background: #20b8c5;
}
.relea_mapbox label {
	display: block;
	font-size: 43px;
	padding: 23px 0 0 0;
	background: #20b8c5;
}
.relea_mapbox .rm-tit {
	display: block;
	background: url(../img/fuze/remap_boxbg.png) center center no-repeat;
	width: 100%;
	height: 64px;
	position: absolute;
	left: 0;
	top: 245px;
	z-index: 999;
}
#relese_map {
	display: block;
	position: relative;
	width: 100%;
	height: 500px;
}
.rc-br{
	display: none;
}
@media only screen and (max-width:780px){
	.releace_top{
		width: 100%;
	}
	.rele_btn a{
		width: 80%;
	}
	#header #logo{
		margin-left: 10px;
	}
	.centered, .rele_move {
		width: 100% !important;
		box-sizing: border-box;
	}
	.rele_move{
		margin-top: 0;
	}
	.rele_move label{
		width: 100%;
	}
	#header ul {
		display: none;
	}
	#header, #container, #footer {
		min-width: auto;
		overflow: hidden;
	}
	.max_widr, .max_wid, .rele_move label {
		width: 100%;
	}
	.relea_mapbox p {
		font-size: 2.2em;
		padding-top: 57px;
	}
	.relea_mapbox label {
		font-size: 2em;
	}
	.relea_mapbox span {
		top: 145px;
	}
	.max_nice {
		width: 90%;
	}

	.rc-br{
		display: block;
	}

}

@media only screen and (max-width:320px){
	.release-form, .rf-authBox{
		width: 100% !important;
	}
	.rf-box,.rf-send-box{
		width: 300px !important;
	}
	.rf-authBox{
		padding: 0 10px;
		width: 100% !important;
		box-sizing: border-box;
	}
	.rf-box input{
		width: 231px !important;
	}
	.rf-box.rf-auth{
		width: 192px !important;
	}
	.rf-box.rf-auth input{
		width: 113px !important;
	}
	.rf-box.rf-authSend{
		width: 82px !important;
	}
}

/*update 2016-05-03 by simba*/
.release-bottomLine{
	position: relative;
}
.release-bottomLine:before{
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -30%;
	width: 60%;
	height: 1px;
	background-color: #5b5b5c;
}
.release-form{display: none;}
.release-form,
.rf-authBox{
	position: relative;
	margin: 0 auto;
	width: 323px;
	text-align: center;
	overflow: hidden;
	line-height: 43px;
}
.rf-tit{
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 2.4rem;
	color: #56dce1;
}
.rf-box{
	display: inline-block;
	margin-bottom: 19px;
	width: 321px;
	height: 43px;
	border:1px solid #5b5b5c;
}

.rf-box label{
	float: left;
	font-size: 1.4rem;
	padding-left: 13px;
	color: #fff;
}
.rf-box input{
	display: block;
	margin-left: 69px;
	padding: 0 13px;
	width: 252px;
	height: 43px;
	color: #fff;
	background-color: #000 !important;
	border:none;
	font-family: "Microsoft Yahei";
	font-size: 1.4rem;
	outline: none;
}
.rf-box input:focus{
	border: none;
}
/*验证码*/ 
.rf-box.rf-auth{
	margin-right: 13px;
	width: 203px;
}
.rf-box.rf-auth input{
	width: 134px;
}
.rf-box.rf-authSend{
	width: 103px;
	font-size: 1.4rem;
	background-color: #2aadba;
	border-color: #2aadba;
	cursor: pointer;
	color: #fff;
}
.rf-box.rf-authSend.rf-authSended{
	border-color: #373739;
	background-color: #373739;
}

.rf-authBox .rf-box{
	float: left;
}

.rf-send-box{
	margin: 15px auto 107px auto;
	width: 323px;
	height: 58px;
	line-height: 58px;
	background-color: #2aadba;
}
.rf-send-box a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 20px;
	color: #fff;
}

.release-live{
	height: 874px;
	background: url(http://fuzeweb.w.wcsapi.biz.matocloud.com/fuzemall/goods/mall/release-live-bg.png) no-repeat scroll center center #000;
	overflow: hidden;
}

.release-countdown{
	margin-top: 220px;
	text-align: center;
}
.rc-tit{
	margin-top: 50px;
	font-size: 30px;
	font-weight: 100;
	color: #333;
}
.rc-box{
	margin-top: 50px;
}
.release-countdown span{
	margin-left: 12px;
	margin-bottom: 20px;
	color: #333;
}

.release-countdown .rc-date{
	display: inline-block;
	width: 66px;
	height: 66px;
	line-height: 66px;
	border: 2px solid #333;
	border-radius: 6px;
	font-size: 3.6rem;
	font-weight: 100;
}
.release-countdown font{
	position: relative;
	margin: 0 10px 0 14px;
	top: 16px;
	color: #333;
}

.release-share,.release-pop{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}
.release-share,.release-pop{
	display: none;
}

.rs-con,.rp-con{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -159px;
	margin-left: -246px;
	width: 492px;
	height: 318px;
}
.rs-tit,.rp-tit{
	padding: 0 20px;
	height: 38px;
	line-height: 38px;
	font-size: 1.4rem;
	background-color: #f8f9f8;
	border-bottom: 1px solid #eaeaea;
	color: #999;
}
.rs-tit span{
	float: left;
	cursor: pointer;
}
.rs-tit .rs-close,.rp-close{
	float: right;
	width: 50px;
	text-align: right;
	cursor: pointer;
}
.rs-list{
	padding: 48px 10px 25px 50px;
	background-color: #fff;
}
.rs-list a{
	float: left;
	display: block;
	margin-right: 40px;
	margin-bottom: 35px;
	width: 68px;
	height: 68px;
}
.rp-news{
	background-color: #fff;
	text-align: center;
	overflow: hidden;
}
.rpn-tit{
	margin-top: 40px;
	font-size: 30px;
	color: #1eb7c5;
}
.rpn-txt{
	margin-top: 20px;
	font-size: 18px;
	color: #727272;
	line-height: 26px;
}
.rpn-btn-box{
	margin-top: 40px;
	margin-bottom: 28px;
}
.rpn-btn{
	display: inline-block;
	width: 247px;
	height: 58px;
	line-height: 58px;
	color: #fff;
	font-size: 18px;
	background-color: #1eb7c5;
	text-align: center;
}

#releaseShare a{
	float: left;
    display: block;
    margin-right: 40px;
    margin-bottom: 35px;
	width: 68px;
	height: 68px;
	background-position: 0 0;
}
.bdsharebuttonbox .bds_tsina{
	background: url(../img/fuze/rs-1.jpg) no-repeat scroll 0 0;
}
.bdsharebuttonbox .bds_qzone{
	background: url(../img/fuze/rs-2.jpg) no-repeat scroll 0 0;
}
.bdsharebuttonbox .bds_weixin{
	background: url(../img/fuze/rs-3.jpg) no-repeat scroll 0 0;
}
.bdsharebuttonbox .bds_sqq{
	background: url(../img/fuze/rs-4.jpg) no-repeat scroll 0 0;
}
.bdsharebuttonbox .bds_kaixin001{
	background: url(../img/fuze/rs-5.jpg) no-repeat scroll 0 0;
}
.bdsharebuttonbox .bds_tqq{
	background: url(../img/fuze/rs-6.jpg) no-repeat scroll 0 0;
}
.bdsharebuttonbox .bds_renren{
	background: url(../img/fuze/rs-7.jpg) no-repeat scroll 0 0;
}
.bdsharebuttonbox .bds_tieba{
	background: url(../img/fuze/rs-8.png) no-repeat scroll 0 0;
}



.release-header{
	height: 80px;
	line-height: 80px;
    background: #28292a;
    text-align: center;
}
.release-header img{
	margin-top: 24px;
}

.live-box{
	display: none;
	margin: 0 auto;
	width: 1230px;
	height: 100%;
	overflow: hidden;
}
.live-box p{
	margin: 70px 0 60px 0;
	font-size: 42px;
	font-weight: 100;
	color: #333;
	text-align: center;
}
.live-iframe{
	width: 1220px;
	height: 600px;
	background-color: #000;
	border:5px solid #85888a;
}
.live-iframe iframe{
	width: 100%;
	height: 100%;
}
#live .leyun-body .pc-player-wraper .video-wraper{
	width: 100% !important;
	height: 100% !important;
}