
/**
*   服务
*   simba
*   2016-04-11
*/
body{
    background-color: #f8f8f8;
}
.serve-top{
    width: 100%;
    height: 450px;
    background-color: #fff;
}
.serve-top-con{
    margin: 0 auto;
    width: 1230px;
    height: 100%;
    background: url("http://cdn.fuzeuser.com/fuzemall/goods/mall/serve-top-right.png") scroll no-repeat  792px bottom;
    overflow: hidden;
}
.serve-top-con p{
    margin-left: 47px;
}
.serve-top-tit1{
    margin-top: 143px;
    color: #1eb7c5;
    font-size: 40px;
    font-weight: 100;
}
.serve-top-tit2{
    margin-top: 38px;
    color: #373737;
    font-size: 30px;
}
.serve-top-tit3{
    margin-top: 20px;
    width:406px;
    line-height: 24px;
    color: #5c5c5c;
    font-size: 14px;
}

.serve-nav{
    margin:  0 auto;
    margin-top: 8px;
    margin-bottom: 24px;
    width: 1230px;
}
.serve-nav-list li {
    float: left;
    margin-right: 10px;
    width: 300px;
    height:210px;
    text-align: center;
    background-color: #fff;
}
.serve-nav-list li:nth-child(4n){
    margin-right: 0;
}
.serve-nav-list li.mrNone{
    margin-right: 0;
}
.serve-nav-list li a{
    display: block;
    width: 100%;
    height:100%;
}
.serve-nav-list li img{
    margin-top: 48px;
}
.serve-nav-list li p{
    margin-top: 20px;
    font-size: 16px;
    color: #848585;
}
