.terms_title{
	text-align: center;
	font-size: 30px;
	line-height: 70px;
	font-weight: lighter;
	color: #333;
	margin-top: 50px;
}

.terms_content{
	width: 920px;
	max-height: 800px;
	background-color: #fff;
	overflow: auto;
	margin: 0 auto;
	padding: 30px 40px 0px 30px;
	font-size: 14px;
	color: #333;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
}

.terms_content .section{
	margin-bottom: 32px;
}

.terms_content .section.bold{
	font-weight: bold;
}

.btn_bar{
	margin-top: 24px;
	font-size: 0;
	text-align: center;
	margin-bottom: 70px;
}

.btn_bar .ok_btn,.btn_bar .cancel_btn{
	display: inline-block;
	background-color: #20b8c5;
	border-radius: 3px;
	font-size: 20px;
	text-align: center;
	width: 86px;
	height: 38px;
	line-height: 38px;
	margin: 0 20px;
	cursor: pointer;
}

.btn_bar .ok_btn a,.btn_bar .cancel_btn a{
	color: #fff;
}