	<!-- 活动页面 -->
	<!-- 防止样式覆盖 -->
		<style type="text/css">
			body{
				background-color: #fff;
			}
		</style>


<!-- game banner -->
<div class="game-banner">
	<!-- banner pic -->
	<ul class="activepage-banner">
		
	</ul>
	<!-- banner tip -->
	<!-- <ul class="game-banner-tip-list"></ul> -->
</div>

<!-- game txt -->
<div class="game-txt">
	<div class="gameintro-txt">
		<p class="activeintro">活动介绍</p>
		<div class="txtcontent">
		</div>
	</div>
	<a href="/index.html#item/f1" target="_blank" class="buyfuzebtn" target="">购买FUZE游戏机</a>
</div>

<!-- award content -->
<div class="activepage-content">
	<div class="content">
		<div class="awardset">奖品设置</div>
		<div class="awardlist awardcon">
			<!-- <dl>
				<dt><img src="../img/first.png" alt=""></dt>
				<dd><p>冠军</p></dd>
				<dd><span>1000元 RMB</span></dd>
				<div class="sj"><i>1</i></div>
			</dl>
			<dl>
				<dt><img src="../img/second.png" alt=""></dt>
				<dd><p>亚军</p></dd>
				<dd><span>1000元 RMB</span></dd>
				<div class="sj"><i>2</i></div>
			</dl>
			<dl>
				<dt><img src="../img/third.png" alt=""></dt>
				<dd><p>季军</p></dd>
				<dd><span>1000元 RMB</span></dd>
				<div class="sj"><i>3</i></div>
			</dl>
			<dl>
				<dt><img src="../img/first.png" alt=""></dt>
				<dd><p>第四名</p></dd>
				<dd><span>1000元 RMB</span></dd>
			</dl>
			<dl>
				<dt><img src="../img/first.png" alt=""></dt>
				<dd><p>第五名</p></dd>
				<dd><span>1000元 RMB</span></dd>
			</dl>
			<dl>
				<dt><img src="../img/first.png" alt=""></dt>
				<dd><p>第六名 - 第七名</p></dd>
				<dd><span>1000元 RMB</span></dd>
			</dl>
			<dl>
				<dt><img src="../img/gift_11.png" alt=""></dt>
				<dd><p>第十一名 - 100名</p></dd>
				<dd><span>1000元 RMB</span></dd>
			</dl> -->
		</div>
	</div>
	<div class="content">
		<div class="activeRules">活动规则</div>
		<div class="awardlist rulescon">
			<!-- <div class="first-item">
				<span>1.报名</span>
				<p>报名时间:10月10日周一到10月15日周六比赛开始前。</p>
				<p>报名方式:从FUZE游戏机进入"超级星期六"活动页面,点击报名按钮,按要求填写联系方式,即可报名。一台FUZE游戏机只能报名一次。报名后请留意活动页面是否出现您已报名的提示。</p>
			</div>
			<div class="second-item">
				<span>2.竞技</span>
				<p>竞技时间:10月15日周六10:00-21:00。</p>
				<p>竞技方式:从FUZE游戏机活动页面点击"参加竞技",进入"卡图斯进击的机器人",选择"无限训练",单人开始游戏,即视为参赛。最终会按竞技时间内的比分高低进行排行。</p>
				<p>注意事项:</p>
				<ul>
					<li>1.每个玩家可以在规定的竞技时间内重复挑战,系统只记录最好成绩。</li>
					<li>2.不在规定的竞技时间内完成的比赛成绩不计入排名。</li>
					<li>3.未按规定报名的用户成绩不计入排名。</li>
					<li>4.多人挑战成绩不计入排名。</li>
					<li>5.最终比赛成绩以竞技结束后活动页面公布的中奖名单为准。</li>
				</ul>
			</div>
			<div class="third-item">
				<span>3.获奖</span>
				<p>竞技结束后,排行榜前100名玩家将收到获奖短信,请按短信提示回复信息。工作人员将在2个工作日内电话联系您,确认身份后发放奖品。请获奖玩家保持手机畅通,以便工作人员联系您。</p>
			</div>
			<p class="end">*本活动最终解释权归深圳蓝港时代科技有限公司所有。</p> -->
		</div>
	</div>
	<div class="content">
		<div class="winnerList">获奖名单</div>
		<div class="awardlist winlist wait">
			<!-- <div class="currentPeriod winner">
				<ol>
					<li><span>本期 / 冠军 : </span><i class="displayPart">深夜放毒的小王子</i></li>
					<li><span>亚军 : </span><i class="displayPart">深夜放毒的小王子</i></li>
					<li><span>季军 : </span><i class="displayPart">深夜放毒的小王子</i></li>
					<a href="" class="goago">点击查看往期名单</a>
				</ol>
				<ul>
					<li>第四名：<i class="displayPart">朱莉和皮特</i></li>
					<li>第五名：<i class="displayPart">朱莉和皮特</i></li>
					<li>第六名：<i class="displayPart">朱莉和皮特</i></li>
					<li>第七名：<i class="displayPart">朱莉和皮特</i></li>
					<li>第八名：<i class="displayPart">朱莉和皮特</i></li>
					<li>第九名：<i class="displayPart">朱莉和皮特</i></li>
					<li>第十名：<i class="displayPart">朱莉和皮特</i></li>
				</ul>
			</div> -->
			<!-- <div class="firstphase">
				<ol>
					<li><span>第一期 / 冠军 : </span><i class="displayPart">深夜放毒的小王子</i></li>
					<li><span>亚军 : </span><i class="displayPart">深夜放毒的小王子</i></li>
					<li><span>季军 : </span><i class="displayPart">深夜放毒的小王子</i></li>
				</ol>
				<ul>
					<li>第四名：<i class="displayPart">朱莉和皮特</i></li>
					<li>第四名：<i class="displayPart">朱莉和皮特</i></li>
					<li>第四名：<i class="displayPart">朱莉和皮特</i></li>
					<li>第四名：<i class="displayPart">朱莉和皮特</i></li>
					<li>第四名：<i class="displayPart">朱莉和皮特</i></li>
					<li>第四名：<i class="displayPart">朱莉和皮特</i></li>
					<li>第四名：<i class="displayPart">朱莉和皮特</i></li>
				</ul>
			</div>	 -->
		</div>
		<div class="checkago" data-page="1">点击查看往期名单</div>
	</div>
</div>
<!-- 奖品设置 -->
<script id="awardset_tmpl" type="text/x-jquery-tmpl">
{{each(i,v) list}}
	{{if i==0}}
		<dl>
			<dt><img src="${image}" alt=""></dt>
			<dd><p>${v.prize_name}</p></dd>
			<dd><span>${v.prize}</span></dd>
			<div class="sj"><i>1</i></div>
		</dl>
	{{else i==1}}
		<dl>
			<dt><img src="${image}" alt=""></dt>
			<dd><p>${v.prize_name}</p></dd>
			<dd><span>${v.prize}</span></dd>
			<div class="sj"><i>2</i></div>
		</dl>
	{{else i==2}}
		<dl>
			<dt><img src="${image}" alt=""></dt>
			<dd><p>${v.prize_name}</p></dd>
			<dd><span>${v.prize}</span></dd>
			<div class="sj"><i>3</i></div>
		</dl>
	{{else}}
		<dl>
			<dt><img src="${image}" alt=""></dt>
			<dd><p>${v.prize_name}</p></dd>
			<dd><span>${v.prize}</span></dd>
		</dl>
	
	{{/if}}
	
 {{/each}}      
</script>
<script id="activebanner_tmpl" type="text/x-jquery-tmpl">
	<li style="background-image: url(${web_banner})"></li>
	
</script>
<script id="activewinner_tmpl" type="text/x-jquery-tmpl">
{{each(i,v) list}}
	<div class="currentPeriod winner">
	  <ol>
	 
	 
	 {{if j==0}}
	     <li><span>${v.activityName} / 冠军 : </span><i class="displayPart">${v.activityList[0]}</i></li>
	   {{else j==1}}	
	 	<li><span>亚军 : </span><i class="displayPart">${v.activityList[1]}</i></li>
	   {{else j==2}}
	 	<li><span>季军 : </span><i class="displayPart">${v.activityList[2]}</i></li>
	  </ol>

	 <ul>
	  {{else j==3}}
	 	<li>第四名：<i class="displayPart">${v.activityList[3]}</i></li>
	  {{else j==4}}
	 	<li>第五名：<i class="displayPart">${v.activityList[4]}</i></li>
	 {{else j==5}}
	 	<li>第六名：<i class="displayPart">${v.activityList[5]}</i></li>
	 {{else j==6}}	
	 	<li>第七名：<i class="displayPart">${v.activityList[6]}</i></li>
	 {{else j==7}}
	 	<li>第八名：<i class="displayPart">${v.activityList[7]}</i></li>
	 {{else j==8}}
	 	<li>第九名：<i class="displayPart">${v.activityList[8]}</i></li>
	 {{else j==9}}
		<li>第十名：<i class="displayPart">${v.activityList[9]}</i></li>
	 </ul>
	 {{/if}}
	 
   

	</div>
{{/each}}	
</script>
<!-- // {{each(j,g) v.activityList}} -->